:root {
    --primary-color: #4c9f38;
    --darker-primary: #1f4416;
    --secondary-color: #fdfdfd;
    --home-overlay: hsla(108, 41%, 7%, 0.161);
    --drop-shadow: #111111;
    --button-hover: #74ee55;
    --footer-bg-color: #1c1c1c;
    --link: #f4f81b;
    --link-hover: #e6e200;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection {
    background-color: var(--darker-primary);
    color: var(--secondary-color);
}

body {
    margin: 0;
    font-size: 1.6rem;
}

.header-menu {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: all .6s;
}

.scrolled {
    background-color: var(--primary-color);
    padding: 0;
}

.header-menu__logo {
    width: 6rem;
}

.header-menu__nav-list {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    gap: 2rem;
    padding: 0;
}

.nav-item__link {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: all .6s;
}

.nav-item__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: var(--link);
    transition: all .6s;
    filter: none;
}

.nav-item__link:hover::after {
    width: 100%;
}

.home-overlay {
    background-color: var(--home-overlay);
    position: absolute;
    inset: 0;
}

.home {
    background-image: url(../assets/banner.webp);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    padding: calc(100dvh / 2 - 12rem) 0;
    text-align: center;
}

.home__title {
    color: var(--secondary-color);
    font-size: 5rem;
    margin-bottom: 60px;
    filter: drop-shadow(1px 1px 0 var(--drop-shadow));
}

.home__title,
.home__button {
    position: relative;
    z-index: 1;
}

.home__button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 1.6rem 3.2rem;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    transition: all 1s;
}

.home__button:hover {
    background-color: var(--button-hover);
    color: var(--darker-primary);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.home__button:active {
    box-shadow: inset 0 5px 3px rgba(0, 0, 0, 0.3);
}

.custom-shape-divider-bottom-1690774639 {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690774639 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1690774639 .shape-fill {
    fill: #4c9f38;
}

#about,
#contributing {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.about-container,
#goals,
.footer-container,
.credits__list {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.about-container,
#goals,
.contributing-container,
#more-info,
.footer-container {
    max-width: 1600px;
    padding: 9.5rem;
    margin: auto;
}

.about__title,
.goals__title,
.contributing__title,
.more-info__title {
    font-size: 2.8rem;
}

.about__description,
.contributing__info {
    font-size: 1.7rem;
    text-align: left;
}

#goals {
    position: relative;
    padding-top: 15rem;
}

.goals__title {
    position: absolute;
    top: 5rem;
}

.goals__title,
.more-info__title {
    color: var(--darker-primary);
}

.goals__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: circle;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.8rem;
    padding-left: 20px;
}

.goals__img {
    max-width: 400px;
    min-width: 300px;
}

.goals__img:nth-child(odd) {
    justify-self: end;
}

.goals__img:nth-child(even) {
    justify-self: start;
}

#contributing,
#more-info {
    text-align: center;
}

.contributing__exemples,
.video-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.contributing__title,
.more-info__title {
    margin: 0 0 4rem;
}

.card {
    background-color: var(--secondary-color);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 12rem;
    border-radius: 25px;
    color: var(--primary-color);
    width: 15rem;
    padding: .8rem;
    display: flex;
    align-items: center;
    transition: all .5s;
}

.card:hover {
    scale: 1.1;
}

.card__title {
    margin-top: 11rem;
}

.card-aware {
    background-image: url(../assets/awareness.png);
}

.card-vaccine {
    background-image: url(../assets/vaccine.png);
}

.card-volunteer {
    background-image: url(../assets/volunteer.png);
}

.card-donation {
    background-image: url(../assets/medical-assistance.png);
}

.card-mental-health {
    background-image: url(../assets/mental-health.png);
}

.contributing__info a {
    color: var(--secondary-color);
}

.contributing__info a,
.nav-item__link:hover {
    color: var(--link);
}

.contributing__info a:hover,
footer a:hover {
    color: var(--link-hover);
}

footer {
    background-color: var(--footer-bg-color);
    text-align: center;
}

.footer-container {
    padding-bottom: 5rem;
    padding-top: 5rem;
    align-items: start;
}

footer,
footer a {
    color: var(--secondary-color);
}

.footer__credits p,
.footer__info p {
    font-size: 1.9rem;
}

.credits__list {
    row-gap: 1.5rem;
    justify-items: start;
    list-style: none;
    padding: 0;
}

.footer__social {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 4rem;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-link i {
    font-size: 2.8rem;
}

@media screen and (max-width: 800px) {

    .header-menu {
        justify-content: center;
    }

    .header-menu__logo {
        display: none;
    }

    .about-container,
    #goals,
    .footer-container,
    .credits__list {
        grid-template-columns: 1fr;
    }

    .about-container,
    #goals,
    .contributing-container,
    #more-info,
    .footer-container {
        padding: 5.5rem;
    }

    .about__title {
        text-align: center;
    }

    .goals__title {
        top: 0;
    }

    .goals__list {
        display: inline-block;
        clear: both;
    }

    .goals__img {
        display: none;
    }

    .goals__list:nth-of-type(2)::before,
    .goals__list:last-of-type::before {
        width: 350px;
        margin-bottom: 1.5rem;
    }

    .goals__list:nth-of-type(2)::before {
        content: url(../assets/medical-5459632.svg);
        float: left;
    }

    .goals__list:last-of-type::before {
        content: url(../assets/medical-5459630.svg);
        float: right;
    }
}

@media screen and (max-width: 500px) {

    .header-menu__nav-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .home__title {
        font-size: 4rem;
    }

    .goals__list:nth-of-type(2)::before,
    .goals__list:last-of-type::before {
        width: 250px;
    }

    #goals {
        gap: 0;
    }
}