:root {
    --bege: #d8d0a8;
    --branco: #fdfdfd;
    --marrom: #800000;
    --whats: #60c043;
    --preto: #292424;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    color: var(--preto);
}

.hero {
    background-color: var(--bege);
    text-align: center;
    padding: 5em 0;
}

.hero__title {
    font-family: "Caveat", cursive;
    font-size: 3.5em;
}

.hero__slogan {
    font-size: 1.5em;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

.menu,
.contact {
    background-color: var(--branco);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3em;
    padding-bottom: 4em;
}

.menu__title,
.contact__title {
    text-align: center;
    width: 100%;
    margin-bottom: 1.5em;
}

.menu__card {
    display: grid;
    grid-template-rows: 200px 50px auto auto;
    background-color: var(--bege);
    width: 250px;
    text-align: center;
    border-radius: 10px;
    row-gap: 1em;
}

.card__img {
    border-radius: 10px 10px 0 0;
}

.card__title {
    place-self: center;
}

.card__title,
.card__description {
    margin: 0;
    padding: 0 1em;
}

.card__description {
    text-align: left;
}

.card__price {
    place-self: end;
    padding-inline-end: 25px;
    margin-top: 10px;
    color: var(--marrom);
    font-size: 1.2rem;
}

.contact {
    flex-direction: column;
    gap: 0;
    text-align: center;
}

.contact p {
    margin: .8em 0;
}

.ph-whatsapp-logo {
    color: var(--whats);
    font-size: 2.3em;
}

.whats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bege);
    padding: 0 1em 1em;
}

.credits__list {
    list-style: none;
    display: grid;
    gap: .8rem;
    padding-left: 15px;
}

.social a {
    text-decoration: none;
}

.ph-github-logo,
.ph-linkedin-logo,
.credits__list a {
    color: var(--preto);
    transition: color .5s
}

:hover:is(.ph-github-logo, .ph-linkedin-logo, .credits__list a) {
    color: var(--marrom);
}

.ph-github-logo,
.ph-linkedin-logo {
    font-size: 1.8em;
}