:root {
    --bege: #d8d0a8;
    --branco: #fdfdfd;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
}

main > div {
    background-color: var(--bege);
    text-align: center;
    padding: 5em 0;
}

h1 {
    font-family: "Caveat", cursive;
    font-size: 3.5em;
}

.slogan {
    font-size: 1.5em;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

main section {
    background-color: var(--branco);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3em;
    padding-bottom: 4em;
}

section h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 1.5em;
}

section div {
    display: grid;
    grid-template-rows: 200px 50px 190px 50px;
    background-color: var(--bege);
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

div img {
    border-radius: 10px 10px 0 0;
}

div p {
    text-align: justify;
    padding: 0 1em;
}

p strong {
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
}

.contact {
    flex-direction: column;
    gap: 0;
    text-align: center;
}

.contact i {
    color: #60c043;
    font-size: 2.3em;
}

.contact p {
    margin: .8em 0;
}

.whats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bege);
    padding: 0 1em 1em;
}

footer a {
    text-decoration: none;
}

footer i {
    color: #292424;
    font-size: 1.8em;
}
